<!-- Banker Sign in -->

<%= form_tag '/signin', class: 'signup_signin_form' do %>
<div class="title_bar sign_in_title_bar" >
 <h3>Sign in</h3>
</div>
<div class="form_without_title">
 <div class="split_form_vertical">
  <div class="field">
    <p>Email</p>
    <%= email_field_tag 'banker_email', placeholder = "Enter email address",
    :autofocus => true %>
  </div>

  <div class="field">
    <p>Password</p>
    <%= password_field_tag 'password' %>
  </div>

  <div>
    <%= submit_tag 'Sign in', id: 'banker_signin_button' %>
  </div>
<% end %>
</div>
</div><!-- end form_without_title -->


<div>
  <p>
    Don't already have an account? Create one <%= link_to "here", new_banker_path %>
  </p>
</div>
