<h1>Banker Sign Up</h1>

<div class="sign_up_form">
  <%= form_for @banker do |f| %>

    <div class="field">
      <%= f.label :first_name %>
      <%= f.text_field :first_name, placeholder: 'enter first your name' %>
    </div>

    <div class="field">
      <%= f.label :last_name %>
      <%= f.text_field :last_name, placeholder: 'enter your last name' %>
    </div>

    <div class="field">
      <%= f.label :banker_email %>
      <%= f.text_field :banker_email, placeholder: 'enter your email address'
       %>
    </div>

    <div class="field">
      <%= f.label :password, 'Enter a password' %>
      <%= f.password_field :password, placeholder: 'password' %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation, 'Confirm your password' %>
      <%= f.password_field :password_confirmation, placeholder: 'confirm password' %>
    </div>

    <div>
      <%= f.submit 'Create Account' %>
    </div>

  <% end %>
</div>