<%= form_for([@authenticated_user, @susu], class: 'signup_signin_form') do |f| %>
<div class='form new_susu_form'>
    <div class="title_bar" id="new_susu_title_bar">
      <h3><%= @form_title %></h3>
    </div>
    <div class="form_without_title">
    <div class="break_form">
      <div>
        <%= f.label :name, "Name your susu" %>
        <%= f.text_field :name, autofocus: true %> <!-- session[:name] after :name will prepopulate the field but not add to database -->
      </div>
      <div>
        <%= f.label :pay_out_amount, "Enter desired \"hand\": $" %>
        <%= f.text_field :pay_out_amount, placeholder: "Enter total payout"  %>
      </div>
      <div>
        <%= f.label :num_of_members, "Number of members" %>
        <%= f.number_field :num_of_members, placeholder: "Enter number of members"  %>
      </div>
      <div>
        <%= f.label :pay_out_rotation, "Enter payout frequency" %>
        <%= f.select(:pay_out_rotation, options_for_select([['weekly', "weekly"],['every 2 weeks', "every 2 weeks"], ['monthly', "monthly"]])) %>
      </div>
    </div><!-- End break_form -->

    <div class="break_form">
      <div>
        <%= f.label :member_pay_in_frequency, "Enter members pay in" %>
        <%= f.select(:member_pay_in_frequency, options_for_select([['weekly', "weekly"],['every 2 weeks', "every 2 weeks"], ['monthly', "monthly"]])) %>
      </div>
      <div>
        <%= f.label :pay_in_amount %>
        <%= f.text_field :pay_in_amount %>
      </div>
      <div>
        <%= f.label :length, "Length of susu" %>
        <%= f.text_field :length %>
      </div>
      <div>
        <%= f.submit id: "new_susu_submit_button" %>
      </div>
    </div><!-- End break_form -->
  <% end %>
  </div><!-- End form_without_title -->

  <div id="calculations"></div>










