<h1>All susus</h1>

<table>
    <tr>
      <th>Name </th>
      <th># of Members: </th>
      <th>Pay out: </th>
      <th>Member contributions:</th>
      <th>Paid out every:</th>
      <th>contributions </th>
      <th>Actions</th>
    </tr>
<% @susus.each do |susu| %>

   <tr>
    <td><%= susu.name %></td>
    <td><%= susu.num_of_members %></td>
    <td><%= susu.pay_out_amount %></td>
    <td><%= susu.pay_in_amount %></td>
    <td><%= susu.pay_out_amount %></td>
    <td><%= susu.pay_in_amount %></td>
      <td>
        <%= link_to "edit", edit_banker_susu_path(@authenticated_user, susu) %>
        <%= link_to "show", banker_susu_path(@authenticated_user, susu)%>
        <%= link_to "delete", banker_susu_path(@authenticated_user,susu), method: :delete, data: {confirm: 'Delete this susu?'} %>
      </td>
   </tr>

<% end %>


</table>