<%= render 'shared/side_nav_panel_1' %>

<div class="susu_full_view">
  <div class="susu_title">
    <h3><p><%= @susu.name %></p></h3>
  </div>
  <div class="susu_info">
    <div>
     <p>Members: <span><%= @susu.num_of_members %></span></p>
    </div>
    <div>
     <p>Total hand:  <span><%= number_to_currency(@susu.pay_out_amount, :precision => 0) %></span></p>
    </div>
    <div>
     <p>Pay out frequency:  <span><%= @susu.pay_out_rotation %></span></p>
    </div>
    <div>
     <p>Members pay in:  <span><%= @susu.member_pay_in_frequency %></span></p>
    </div>
    <div>
     <p>Contribution amount:  <span><%= number_to_currency(@susu.pay_in_amount, precision: 0) %></span></p>
    </div>
    <div>
     <p>Susu Duration:  <span><%= "#{@susu.length} weeks" %></span></p>
    </div>

  </div><!-- End susu_view -->

</div><!-- End susu_full_view -->


    <div class="member_panel">
    <div class="sort_members_header">
     <p>
      <span>Arrange member order: </span><br/>(by dragging and dropping)
     </p>
    </div>
      <ol id="sort_members">
        <%= render 'members/members' %>
      </ol>
    </div>





