<%= render 'shared/dashboard' %>

<div class="susu_full_view">
  <div class="susu_title">
    <p><%= @susu.name %></p>
  </div>
  <div class="susu_view">
    <div>
     <p>Members: <%= @susu.num_of_members %></p>
    </div>
    <div>
     <p>Total member payout: <%= number_to_currency(@susu.pay_out_amount) %></p>
    </div>
    <div>
     <p>Pay out frequency: <%= @susu.pay_out_rotation %></p>
    </div>
    <div>
     <p>Contribution amount: <%= number_to_currency(@susu.pay_in_amount) %></p>
    </div>
    <div>
     <p>Susu Duration: <%= "#{@susu.length} weeks" %></p>
    </div>
    <!-- <input type="button" id="randomize" value="randomize" /> -->
    <%= link_to "randomize", randomize_susu_path(@susu), :remote => true %>
  </div><!-- End susu_view -->
</div><!-- End susu_full_view -->

<div class="member_panel">

    <%= render 'members/members' %>


</div>




