<h1>Show susu</h1>

<button><%= link_to "back to dashboard", banker_path(@banker) %></button><br/>
<button><%= link_to "edit susu info", edit_banker_susu_path(@banker, @susu) %></button><br/>
<button><%= link_to "my susus", banker_susus_path(@banker) %></button><br/>

  <fieldset>
    <div>
     <p>Name: <%= @susu.name %></p>
    </div>
    <div>
     <p>Members: <%= @susu.num_of_members %></p>
    </div>
    <div>
     <p>Total member payout: <%= number_to_currency(@susu.pay_out_amount) %></p>
    </div>
    <div>
     <p>Pay out frequency: <%= @susu.pay_out_rotation %></p>
    </div>
    <div>
     <p>Contribution amount: <%= number_to_currency(@susu.pay_in_amount) %></p>
    </div>
    <div>
     <p>Susu Duration: <%= "#{@susu.length} weeks" %></p>
    </div>
  </fieldset>

<button><%= link_to "add member", new_susu_member_path(@susu) %></button><br/>
<button><%= link_to "view members", susu_members_path(@susu) %></button><br/>
<button><%= link_to "update member info", susu_members_path(@susu) %></button><br/>
<button><%= link_to "delete member", susu_members_path(@susu) %></button><br/>





