<%= render 'shared/side_nav_panel_1' %>

<div class="susu_full_view">
  <div class="susu_title">
    <p><%= @susu.name %></p>
  </div>
  <div class="susu_info">
    <div>
     <p>Members: <%= @susu.num_of_members %></p>
    </div>
    <div>
     <p>Total hand: <%= number_to_currency(@susu.pay_out_amount) %></p>
    </div>
    <div>
     <p>Pay out frequency:<br/><%= @susu.pay_out_rotation %></p>
    </div>
    <div>
     <p>Members pay in:<br/><%= @susu.member_pay_in_frequency %></p>
    </div>
    <div>
     <p>Contribution amount: <%= @susu.pay_in_amount %></p>
    </div>
    <div>
     <p>Susu Duration: <%= "#{@susu.length} weeks" %></p>
    </div>

  </div><!-- End susu_view -->

</div><!-- End susu_full_view -->


<div class="member_panel">
    <%= render 'members/members' %>
</div>




