<div class="stat_intro">
  <p class="date">
    <%= get_todays_date %>
  </p>
  <h3>Dashboard</h3>
</div>

<div class="box_score">
  <div class="data_group">
  <h5 class="snapshot">Snapshot</h5>
  <div class="clear"></div>
    <p>
      <%= "Banker Since : #{member_since}" %>
    </p>
    <p>
      <%= "The total value of all susus you created : #{number_to_currency(total_value_of_a_bankers_susus)}" %>
    </p>
    <p>
      <%= "Total # of susus created : #{total_number_of_susus}" %>
    </p>
    <p>
      <%= "Average susu value : #{number_to_currency(avg_susu_dollar_value(total_number_of_susus))}" %>
    </p>
    <p>
      <%= "Total number of members : #{total_number_of_members}" %>
    </p>
    <p>
      <%= "Average number of members : #{avg_number_of_members(total_number_of_members, total_number_of_susus )}" %>
    </p>
  </div><!-- End data_group -->

  <div class="data_group">
  <h5 class="snapshot">Top 5 Susus</h5>
    <div class="button_plate">
      <div class="snapshop_button">
        <div id="shine"></div>
      </div>
    </div>
  </div><!-- End data_group -->

  <div class="data_group">
  <h5 class="snapshot">Snapshot</h5>
    <div class="button_plate">
      <div class="snapshop_button">
        <div id="shine"></div>
      </div>
    </div>
  </div><!-- End data_group -->

  <div class="data_group">
  <h5 class="snapshot">Compare against all susus</h5>
    <div class="button_plate">
      <div class="snapshop_button">
        <div id="shine"></div>
      </div>
    </div>
  </div><!-- End data_group -->

</div><!-- End box_score -->

<div class="box_score">

</div>

