<div class="intro_bar">
  <h1>Dashboard</h1>
  <p><%= "Welcome #{@banker.first_name} #{@banker.last_name}"%></p>
</div>

<div class="banker_nav_panel">
  <ul>
    <li><%= link_to "Dashboard", banker_susus_path(@banker) %></li>
    <li><%= link_to "Susu Builder", susubuilder_path, :remote => true, id: "builder_button" %></li>
    <li><%= link_to "Create Susu", new_banker_susu_path(@banker) %></li>


    <li><%= link_to "edit my profile", edit_banker_path(@banker) %></li>
    <li><%= link_to "cancel account", banker_path(@banker), :method => :delete, data: {confirm: "Are you sure?"} %></li>
  </ul>
</div>