<!-- Not in use -->

<div class="intro_bar">
  <h1>Dashboard</h1>
  <p><%= "Welcome #{@authenticated_user.first_name} #{@authenticated_user.last_name}"%></p>
</div>


  <hr>

<div class="banker_nav_panel">
  <ul>
    <li><%= link_to "Dashboard", banker_path(@authenticated_user) %></li>
    <li><%= link_to "add member", new_susu_member_path(@susu) %></li>
    <li><%= link_to "view members", susu_members_path(@susu, @members) %></li>
    <li><%= link_to "edit members", susu_members_path(@susu) %></li>
    <li><%= link_to "delete member", susu_members_path(@susu) %></li>
  </ul>
</div>