<div>
  <header>
    <div class="brand"><%= link_to "Susu::Bank", root_path %></div>
    <nav>
      <ul>
        <li><%= link_to "How it works", how_it_works_path %></li>
        <li><%= link_to "susu 101", susu101_path %></li>
        <li><%= link_to "about", about_path %></li>
        <li><%= link_to "sign in", '#' %></li>
      </ul>
    </nav>
  </header>
</div>