<!-- MEMBER INDEX PARTIAL RENDERING ON SUSU SHOW PAGE -->

<% @members.each do |member| %>
<li class="ui-state-default">
  <div class="member_box">
    <p><%= member.first_name %> <%= member.last_name %></p>
    <button class="member_info_button">
        more info
    </button>

    <div class="member_info_box">
      <div><%= member.street_address %>, <%= member.city %>
      <%= member.state %>, <%= member.zip %></div>
      <div>Home: <%= member.home_phone %></div>
      <div>Cell: <%= member.cell_phone %></div>
      <div>Email:<%= member.member_email %></div>
      <div>
        <%= link_to "show", susu_member_path(@susu, member) %>
        <%= link_to "edit", edit_susu_member_path(@susu, member) %>
        <%= link_to "delete",susu_member_path(@susu, member), method: :delete, data: {confirm: "Delete?"} %>
      </div>

      <div>
        <%= link_to "send text", susu_member_path(@susu, member) %>
      </div>
    </div><!-- End member_info_box -->
</div><!-- End member_box -->
</li>
<% end %>

