<h1><%= "All Members of the \"#{@susu.name}\" susu." %></h1>
<%= link_to "<< back to susu", banker_susu_path(@authenticated_user, @susu) %><br/>

<div>
   <table>
    <tr>
      <th>First name:</th>
      <th>Last name:</th>
      <th>Street address:</th>
      <th>City:</th>
      <th>State:</th>
      <th>Zip:</th>
      <th>Home:</th>
      <th>Cell:</th>
      <th>Email:</th>
      <th>Controls:</th>
    </tr>
      <% @members.each do |member| %>
      <tr>
        <td><%= member.first_name %></td>
        <td><%= member.last_name %></td>
        <td><%= member.street_address %></td>
        <td><%= member.city %></td>
        <td><%= member.state %></td>
        <td><%= member.zip %></td>
        <td><%= member.home_phone %></td>
        <td><%= member.cell_phone %></td>
        <td><%= member.member_email %></td>
          <td><button>
              <%= link_to "view", susu_member_path(@susu, member) %>
              </button></td>
          <td><button>
            <%= link_to "edit and update", edit_susu_member_path(@susu, member) %></button></td>
          <td><button
            ><%= link_to "delete",susu_member_path(@susu, member), method: :delete, data: {confirm: "Delete?"} %>
              </button></td>
      </tr>
    <% end %>
   </table>

</div>
