<%= link_to "Back to dashboard", dashboard_path(@authenticated_user) %>
<h1>All Members list</h1>


<table class="format_table">
  <tr>
    <th>First Name </th>
    <th>Last Name </th>
    <th>Street Address </th>
    <th>City</th>
    <th>State</th>
    <th>Zip</th>
    <th>Home</th>
    <th>Cell</th>
    <th>Email</th>
    <th>Actions</th>
  </tr>
<% @members.each do |member| %>
   <tr>
    <td><%= member.first_name %></td>
    <td><%= member.last_name %></td>
    <td><%= member.street_address %></td>
    <td><%= member.city %></td>
    <td><%= member.state %></td>
    <td><%= member.zip %></td>
    <td><%= member.home_phone %></td>
    <td><%= member.cell_phone %></td>
    <td><%= member.member_email %></td>
      <td>
        <%= link_to "edit", edit_susu_member_path(@susu, member) %>
        <%= link_to "show", susu_member_path(@susu, member) %>
        <%= link_to "delete", susu_member_path(@susu, member), method: :delete,
                      data: {confirm: "Press OK to DELETE this member"} %>
      </td>
   </tr>
<% end %>
</table>
