<!-- <h1>show member</h1> -->

<%= link_to "back to susu", banker_susu_path(@authenticated_user, @susu) %>
<br/>

<div class="form new_susu_form signup_signin_form", id="view_member_form">
  <div class="title_bar" id="view_member_title_bar">
   <h3><%= @form_title %></h3>
</div>

<div class="break_form">
  <div>
   <p>First name: <%= @member.first_name %></p>
  </div>
  <div>
   <p>Last name: <%= @member.last_name %></p>
  </div>
  <div>
   <p>Street address: <%= @member.street_address %></p>
  </div>
  <div>
   <p>City: <%= @member.city %></p>
  </div>
  <div>
   <p>State: <%= @member.state %>, Zip: <%= @member.zip %></p>
  </div>
</div>

<div class="break_form">
  <div>
   <p>Home: <%= @member.home_phone %></p>
  </div>
  <div>
   <p>Cell: <%= @member.cell_phone %></p>
  </div>
  <div>
   <p>Email: <%= @member.member_email %></p>
  </div>
</div>


<!-- TEXT MESSAGE MODAL -->

<a href="#myModal" role="button" class="btn" id="send_text_button" data-toggle="modal">Send Text</a>

<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel"><%= "Send text to #{@member.first_name}"%></h3>
  </div>
  <div class="modal-body">
    <%= form_tag '/twilio' do %>

    <%= hidden_field_tag 'phone', @member.cell_phone %>
    </p>
        <%= text_area_tag :text_message %><br/>
        <%= submit_tag "Send message" %>
    <% end %>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>

</div>



