<h1>show member</h1>

  <div>
   <p>first name: <%= @member.first_name %></p>
  </div>
  <div>
   <p>last name: <%= @member.last_name %></p>
  </div>
  <div>
   <p>street address: <%= @member.street_address %></p>
  </div>
  <div>
   <p>city: <%= @member.city %></p>
  </div>
  <div>
   <p>state: <%= @member.state %></p>
  </div>
  <div>
   <p>zip: <%= @member.zip %></p>
  </div>